.seven{
    height: 100vh;
}
.sev-lov{
    position: absolute;
    height: 300px;
    width: 170px;
    left: 2%;
    margin-top: -20%;
}
.sev-pic{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.the{
    position: absolute;
    font-size: 25em;
    text-transform: uppercase;
    font-family: scari;
    letter-spacing: -21px;
    left: 15%;
    margin-top: -20%;
    color: #1c1b19;
}
.pixel{
    position: absolute;
    font-family: scari; 
    font-size: 25em;
    margin-top: 5%;
    left: 2%;
    text-transform: uppercase;
    letter-spacing: -18px;
    color: #1c1b19;
}
.blocker{
    position: absolute;
    height: 640px;
    width: 580px;
    margin-top: -20%;
    right: 1%;
}
.blocker-fill{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.throp{
    position: absolute;
    height: 280px;
    width: 300px;
    left: 2%;
    margin-top: 30%;
}
.thr{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.perfect{
    position: absolute;
    color: #1c1b19;
    font-size: 22em;
    font-family: scari;
    text-transform: uppercase;
    letter-spacing: -15px;
    margin-top: 30.5%;
    left: 24%;
}